.title {
  width: 40%;
  height: 100px;
  background-color: #3bba89;
  margin-left: 30%;
}
.nav {
  width: 40%;
  height: 50px;
  background-color: #83d8b7;
  margin-left: 30%;
}
.content {
  width: 40%;
  height: 400px;
  background-color: #b1e7d2;
  margin-left: 30%;
}
.end {
  width: 40%;
  height: 50px;
  background-color: #45c493;
  margin-left: 30%;
}
